<body>
  <table class="table">
	  <tr>
      <th><%= Key %></th>
      <th><%= Value %></th> 
    </tr>
    <tr>
      <td><%= field1 %></td>
      <td><%= value1 %></td> 
    </tr>
    <tr>
      <td><%= field2 %></td>
      <td><%= value2 %></td> 
    </tr>
    <tr>
      <td><%= field3 %></td>
      <td><%= value3 %></td> 
    </tr>
  </table>
</body>